<!-- <div key={product.id} class="max-w-[310px] max-h-[450px] border-2">
  <div
    class="mt-2 w-[100%] h-[160px]"
    style={{
      background: `url(${product.image}) no-repeat center`,
      backgroundSize: "contain",
    }}
  >
  </div>
  <div class="p-4">
    <h2 class="mt-2 text-[15px] font-medium">{product.title}</h2>
    <p class="my-3">{product.price + "$"}</p>
    <p class="mb-6 max-w-[100%] text-[13px] overflow-hidden">
      {product.description}
    </p>
    <Button content="Open" onClick={() => console.log("hello World !")} />
  </div>
</div> -->
