---
---

<nav>
  <div class="container">
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="about">About</a></li>
    </ul>
  </div>
</nav>

<style lang="scss">
  nav {
    margin-bottom: 40px;
    padding: 10px 0px;
    background-color: #802f6e;

    .container {
      margin: 0 auto;
      padding: 0px 16px;
      max-width: 1200px;

      ul {
        display: flex;
        align-items: center;
        gap: 46px;

        li {
          list-style: none;

          a {
            font-weight: 600;
            font-size: 23px;
            color: #fff;
            text-decoration: none;
          }
        }
      }
    }
  }
</style>
